p
{
	width: 350px;
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    margin: 50px;
}
#conteneur
{
    border: 1px solid black;
    display : flex;
    flex-direction: column-reverse;
    padding: 14px;
    margin: 70px
}
.element1
{
    color: orange;
}
.element2
{
    color: blue;
}
.element3
{
    color: green;
}