p
{
	width: 350px;
    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    margin: 50px;
}
#conteneur
{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin: 70px
}
.element1
{
    color: orange;
}
.element2
{
    color: blue;
}
.element3
{
    color: green;
}
nav
{
    float: left;
    width: 150px;
    border: 1px solid black;
}

section
{
	margin-left: 170px;
    border: 1px solid blue;
}