.Bonjour
{
	color : green;
	font-size: 1.5em;
	font-family: "Comic Sans MS";
	font-weight: bold;
	border: 3px brown dashed;
	text-shadow: 2px 2px 4px black;

}
.super
{
	color : yellow;
	font-size: 22px;
	font-family: Impact;
}

h1
{
	font-style: italic;
	text-align: center;
	background-image: url(chiendeAslen.jpg);
    background-position: 50px 80px;
}
em
{
	color: brown;
	font-weight : bold;
	text-decoration: underline;
	border-left: 2px solid purple;
	border-right: 2px solid purple;
}
.imageflottante:hover
{
	float: left;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}
body
{
	background-color: silver;
}
mark
{
	background-color: red;
}

a:hover
{
	text-decoration: underline;
	color: green;
}
.open:focus
{
	background-color: #FFCC66;
}