h1
{
	text-align: center;
	background-image: url(codage.jpg);
	background-position: 50px 80px;
}
h2
{
	font-style: italic;
}
.Banque
{
	color: green;
}
.Assurance
{
	color: lime;
}
.Municipalité
{
	color: olive;
}
