h1
{
   color: blue ;
}
.Bonjour
{
	color : green;
}
.super
{
	color: grey;
}
.ViePerso
{
	color: red;
}
.ans
{
    color: purple;
}
.mois
{
    color: orange;
}
.jours
{
    color: pink;
}

.coeur
{
    color: red;
}
em
{
	color: red;
}